* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .side-nav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: #111;
}

.wrapper .side-nav .logo {
    padding: 20px;
    text-align: center;
}

.wrapper .side-nav .logo p {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: orange;
}

.wrapper .side-nav .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrapper .side-nav .profile-section .user-info {
    font-size: 15px;
    padding: 20px;
}

.wrapper .side-nav .profile-section .user-info .name {
    color: white;
    font-weight: bold;
}

.wrapper .side-nav .profile-section .user-info .username {
    color: gray;
}

.wrapper .side-nav .profile-section span {
    height: 75px;
    width: 75px;
    background-color: white;
    display: inline-block;
    border-radius: 50px;
}

.wrapper .side-nav ul li {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #434242;
    border-top: 1px solid #565656;
    transition: .3s;
}

.wrapper .side-nav ul li a {
    font-size: 22px;
    color: white;
    display: block;
}

.wrapper .side-nav ul li:hover {
    background-color: #565656;
    cursor: pointer;
}

.wrapper .btn-container {
    padding: 20px;
}
  
.wrapper .btn-container .btn {
    height: 40px;
    width: 150px;
    padding: 5px 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    transition: .3s;
}

.wrapper .btn-container .btn:hover {
    background-color: rgb(217, 144, 8);
    cursor: pointer;
}

.wrapper .btn-container .btn a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: block;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 300px;
}

.wrapper .main-content .top-nav {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.wrapper .main-content .top-nav .search-bar {
    position: fixed;
    width: 50%;
    padding: 10px;
    background-color: #111;
    border-radius: 30px;
}

.wrapper .main-content .top-nav input[type=text] {
    width: 95%;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
}

::placeholder {
    color: rgb(186, 124, 8);
}

.wrapper .main-content .home-feed {
    padding: 120px 60px;
}

.wrapper .main-content .profile-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #111;
    border-bottom: 1px solid #434242;
    padding: 20px;
    gap: 400px;
}

.wrapper .main-content .profile-nav .info .name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.wrapper .main-content .profile-nav .info .books-read {
    color: gray;
}

.wrapper .main-content .profile-nav .corner-search-bar {
    width: 20%;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

.wrapper .main-content .profile-nav .corner-search-bar input[type=text] {
    width: 95%;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;
}

.wrapper .main-content .profile-card {
    padding: 85px 60px;
    border-bottom: 2px solid black;
}

.wrapper .main-content .profile-card .photos {
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper .main-content .profile-card .photos .cover-photo {
    position: relative;
    height: 300px;
    width: 800px;
    background-color: #111;
    border-radius: 5px;
}

.wrapper .main-content .profile-card .photos .profile-photo {
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: gray;
    border-radius: 100px;
    margin-top: 200px;
    margin-left: 30px;
}

.wrapper .main-content .profile-card .details-container {
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapper .main-content .profile-card .details-container ul li {
    padding: 8px;
}

.wrapper .main-content .profile-card .details-container .followers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper .main-content .profile-card .details-container .profile-books-btn {
    border-radius: 35px;
    padding: 5px 2px;
    transition: .3s;
}

.wrapper .main-content .profile-card .details-container .profile-books-btn:hover {
    background-color: rgb(237, 234, 234);
    cursor: pointer;
}

.wrapper .main-content .profile-card .details-container a {
    color: orange;
    font-weight: bold;
}

.wrapper .main-content .bookshelf-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: orange;
}

.wrapper .main-content .bookshelf-nav a {
    color: #111;
}

.wrapper .main-content .book-list {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main-content .create_bookshelf {
    width: 100%;
    margin-left: 200px;
}