* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .side-nav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    background-color: #111;
  }

.wrapper .side-nav .profile-pic {
    padding: 20px;
    text-align: center;
}

.wrapper .side-nav .profile-pic span {
    height: 150px;
    width: 250px;
    background-color: white;
    display: inline-block;
    border-radius: 5%;
}

.wrapper .side-nav ul li {
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #434242;
    border-top: 1px solid #565656;
    transition: .3s;
}

.wrapper .side-nav ul li a {
    font-size: 22px;
    color: white;
    display: block;
}

.wrapper .side-nav ul li:hover {
    background-color: #565656;
    cursor: pointer;
}

.wrapper .btn-container {
    padding: 20px;
}
  
.wrapper .btn-container .btn {
    height: 40px;
    width: 150px;
    padding: 5px 50px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    transition: .3s;
}

.wrapper .btn-container .btn:hover {
    background-color: rgb(217, 144, 8);
    cursor: pointer;
}

.wrapper .btn-container .btn a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: block;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 300px;
    padding: 5px;
}

.wrapper .main-content .top-nav {
   display: flex;
   justify-content: center;
}

.wrapper .main-content .top-nav .search-bar {
    position: fixed;
    width: 50%;
    padding: 10px;
    background-color: #111;
    border-radius: 30px;
}

.wrapper .main-content .top-nav input[type=text] {
    width: 95%;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.wrapper .main-content .home-feed {
    padding: 100px 50px;
}