{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    {% endblock title %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="side-nav">
        <div class="logo">
          <p>CheckYoShelf</p>
        </div>
        <div class="profile-section">
          <div class="profile-pic">
            <span></span>
          </div>
          <div class="user-info">
            <p class="name">{{ my_profile.name }}</p>
            <p class="username">{{ current_user }}</p>
          </div>
        </div>
        <ul>
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="#new-releases">New Releases</a></li>
          <li><a href="#browse-books">Browse Books</a></li>
          <li><a href="{% url "profile" current_user %}">Profile</a></li>
          <li><a href="{% url "bookshelves" current_user %}">My Books</a></li>
        </ul>
        <div class="btn-container">
          <div class="btn">
            <a href="{% url "make_post" current_user %}">Update</a>
          </div>
        </div>
      </div>
      <div class="main-content">{% block content %}{% endblock content %}</div>
    </div>
  </body>
</html>
