{% extends "base.html" %} {% block title %}
<title>{{ profile.name }}'s books</title>
{% endblock title %} {% block content %}
<div class="bookshelf-nav">
  <a href="{% url "create_bookshelf" profile.user %}">Add bookshelf</a>
  <ul>
    {% for shelf, count in bookshelves_count.items %}
    <li>
      <a href="{% url "books" profile.user shelf %}">{{ shelf }}</a> ({{ count }}) 
      <a href="{% url "delete_bookshelf" profile.user shelf %}">Delete</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="book-list">{% block books %}{% endblock books %}</div>
<div class="create-bookshelf">{% block create_bookshelf %}{% endblock create_bookshelf %}</div>
<div class="review-book">{% block review_book %}{% endblock review_book %}</div>
</ul>
{% endblock content %}