{% extends "base.html" %} {% block title %}
<title>{{ profile.name }}</title>
{% endblock title %} {% block content %}
<div class="profile-nav">
  <div class="info">
    <div class="name">
      <p>{{ profile.name }}</p>
    </div>
    <div class="books-read">
      <p>{{ result }}</p>
    </div>
  </div>
  <div class="corner-search-bar">
    <input type="text" placeholder="Search..." />
  </div>
</div>
<div class="profile-card">
  <div class="photos">
    <span class="cover-photo"></span>
    <span class="profile-photo"></span>
  </div>
  <div class="details-container">
    <ul>
      <li>
        <div class="user-details">
          <h1 class="name">{{ profile.name }}</h1>
          <p class="username">@{{ profile.user }}</p>
        </div>
      </li>
      <li>
        <div class="bio">
          <p>{{ profile.bio }}</p>
        </div>
      </li>
      <li>
        <div class="followers">
          <p>{{ follower_count }} followers</p>
          <p>{{ following_count }} following</p>
        </div>
      </li>
      <li>
        <div class="profile-books-btn">
          <a href="{% url "bookshelves" profile.user %}">View Books</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="profile-content">
  {% for post in posts %}
  <h3>{{ post }}</h3>
  {% endfor %}
</div>
{% endblock content %}
